body{
    margin: 0;
    padding: 0;
    font-family: 'Gudea', sans-serif;;
}
#navbar-section{
    background: #1d4354;
    height: 70px;
}
#navbar-section .collapse.navbar-collapse{
    background: #1d4354;   
}
#navbar-section .form-control{
    border-radius: 20px;
    width: 280px;
    background-color: #2b5468;
    border: none;
    outline: none;
}
#navbar-section .form-control::placeholder{
    color: white;
}
#navbar-section .nav-link{
    color: white;
    font-size: 17px;
}
#navbar-section .nav-link:hover{
    color: #6fda44;
}
#navbar-section i{
    color: white;
    font-size: 21px;
}
#navbar-section .avatar{
    height: 38px;
    width: 38px;
    border-radius: 50%;
}
#navbar-section li.nav-item, .navbar-brand, form{
    padding-top: 15px;
}

#navbar-section-mobile{
    background: #1d4354;
    height: 56px;
}
.mobile-content-image{
    margin-left: auto;
}
#search-section{
    margin-top: 50px;
}
#search-section h1.search-section-header{
    font-weight: 700;
    font-size: 28px;
}
#search-section .input-group-text{
    background-color: #37a000;
    color: white;
}
#content-section a.list-group-item{
    border: none;
    margin-top: -10px;
}
#content-section a.list-group-item:hover{
    background-color: white;
}
#content-section .first-sidebar-one a.list-group-item-action.active{
    border: none;
    color: black;
    font-weight: 700;
    background-color: white;
    box-shadow: inset 4px 0px 0px #37a000; 
    border-radius: 0px;
}
#content-section .first-sidebar-two li.list-group-item{
    border: none;
    color: #37a000;
    font-weight: 700;
    background-color: white;
    margin-top: -10px;
    border-radius: 0px;
}
#content-section h4.first-sidebar-two-header{
    font-weight: 700;
    font-size: 18px;
}
#content-section .card{
    border: none;
    border-radius: 0px;
}
#content-section .card-title{
    font-size: 18px;
    font-weight: 800;
}
#content-section .avatar{
    height: 38px;
    width: 38px;
    border-radius: 50%;
}
#content-section .card-title{
    font-size: 18px;
    font-weight: 800;
}
#content-section  .progress{
    width: 160px;
    height: 10px;
}
#content-section .progress-bar{
    background-color: #37a000;
}
#content-section .success-link{
    font-size: 15px;
    border: none;
    color: #37a000;
    font-weight: 700;
    background-color: white;
    margin-top: -10px;
    border-radius: 0px;    
}
#content-section .small-header{
    font-size: 15px;
    border: none;
    font-weight: 700;
    background-color: white;
    border-radius: 0px;    
}
